.nameBox {
  display: flex;
  justify-content: space-between;
  height: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  --bg-opacity: 1;
  background-color: #424242;
  background-color: rgba(66, 66, 66, var(--bg-opacity));
  border-bottom-width: 1px;
  --border-opacity: 1;
  border-color: #757575;
  border-color: rgba(117, 117, 117, var(--border-opacity));
}

.name {
  --text-opacity: 1;
  color: #4299e1;
  color: rgba(66, 153, 225, var(--text-opacity));
}

.name:hover {
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
}

.navBar {
  height: 3rem;
  width: 100%;
  display: flex;
  padding: 0.5rem;
  --bg-opacity: 1;
  background-color: #424242;
  background-color: rgba(66, 66, 66, var(--bg-opacity));
  border-bottom-width: 1px;
  --border-opacity: 1;
  border-color: #757575;
  border-color: rgba(117, 117, 117, var(--border-opacity));
}

.uploadButton {
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.25rem;

  --bg-opacity: 1;
  background-color: #3182ce;
  background-color: rgba(49, 130, 206, var(--bg-opacity));
}

.uploadButton:hover {
  --bg-opacity: 1;
  background-color: #2c5282;
  background-color: rgba(44, 82, 130, var(--bg-opacity));
}

.playButton {
  width: 0;
  height: 24px;
  border-style: solid;
  border-color: transparent transparent transparent #d3d3d3;
  box-sizing: border-box;
  border-width: 12px 0px 12px 18px;
  transition: 200ms all ease;
  margin: 0 10px;
}

.playButton:hover {
  border-color: transparent transparent transparent #808080;
}
